
.banner-section {
    background: url(../img/Rectangle.png);
    min-height: 248px;
  }
  .banner-section .menu-bar {
    padding-left: 0px;
    padding-right: 0px;
  }
  
  .banner-section .breadcrumb {
    background: #000000;
    opacity: 50%;
  }
  
  .banner-section .breadcrumb {
    padding-left: 35px;
  }
  .banner-section .breadcrumb .breadcrumb-item a {
    color: #ffffff;
    font-family: "Poppins", sans-serif;
  }
  .box-section {
    background-color: #F1F1F1;
    padding: 0px;
  }
  .box-section .box-align {
    min-height: 250px;
    align-items: center;
    text-align: center;
  }
  .box-section .box-align .box {
    padding-top: 45px;
  }
  .box-section .box-align .box p {
    padding-top: 10px;
  }
  
  .game-news-page .row{
    
    background-image: url('../images/icons/border_line.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    font-weight: 500;
  }
  .game-news-page .breadcrumb {
    
    justify-content: center;
    margin-top: 36px;
    background: none;
  }
  
  .game-news-page .breadcrumb a {
    color: #1c1c1c;
  }
  .game-news-page p {
    text-align: center;
  }

  .blog .pubg-img{
  
      text-align: center;
  }
  .blog .pubg-img img {
      border-radius: 19px;
      margin-top: 40px;
  }
  .blog p{
    color: #737373;
    font-size: 18px;
  }
  .blog .para{
      margin-top: 40px;
  }
  
@media (max-width: 992px){
  .box-section .box-align .box {
    margin: 5px 0px;
    padding-top: 45px;
  }
}
@media (max-width: 768px){
  .banner-section .breadcrumb .breadcrumb-item a {
    font-size: 12px;
  }
  .box-section .box-align .box p {
    font-size: 12px;
}
.blog p{
  color: #737373;
  font-size: 14px;
}
}