
.banner-section {
    background: url(../img/Rectangle.png);
    min-height: 248px;
  }
  .banner-section .menu-bar {
    padding-left: 0px;
    padding-right: 0px;
  }
  
  .banner-section .breadcrumb {
    background: #000000;
    opacity: 50%;
  }
  
  .banner-section .breadcrumb {
    padding-left: 35px;
  }
  .banner-section .breadcrumb .breadcrumb-item a {
    color: #ffffff;
    font-family: "Poppins", sans-serif;
  }
  .box-section {
    background-color: #F1F1F1;
    padding: 0px;
  }
  .box-section .box-align {
    min-height: 250px;
    align-items: center;
    text-align: center;
  }
  .box-section .box-align .box {
    padding-top: 45px;
  }
  .box-section .box-align .box p {
    padding-top: 10px;
  }
  
  .game-news-page .row{
    
    background-image: url('../images/icons/border_line.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    font-weight: 500;
  }
  .game-news-page .breadcrumb {
    
    justify-content: center;
    margin-top: 36px;
    background: none;
  }
  
  .game-news-page .breadcrumb a {
    color: #1c1c1c;
  }
  .game-news-page p {
    text-align: center;
  }

  .blog .pubg-img{
  
      text-align: center;
  }
  .blog .pubg-img img {
      border-radius: 19px;
      margin-top: 40px;
  }
  .blog p{
    color: #737373;
    font-size: 18px;
  }
  .blog .para{
      margin-top: 40px;
  }
  
.reliable{
  background-color: #220C5B;
  color: white;
}
.reliable .main-heading{
  color: white;
}
.faq-section .mini-heading{
  color: #1c1c1c;
  font-family: Poppins-SemiBold;
}
.faq-section .question{
  position: relative;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.faq-section .question p{
  padding: 10px;
  color: #5B5B5B;
}

.faq-section hr{
  position: absolute;
  left: 5px;
  top: 20px;
    border: none;
    border-left:3px solid #601FA1;
    height: 80px;
    width:  1px;   

}
.sell-steps img{
  max-height: 143px;
  margin-bottom: 20px;
}
.sell-hero .amount{
  position: absolute;
  right: 0px;
  top: -30px;
  width: 300px;
  background-color: #601FA1;
  color: white;
  border-radius: 20px;
  font-family: Poppins-Bold;
}
.sell-hero .amount .row{
  height: 120px;
  align-items: center;
}
.sell-hero .dollar{
  position: absolute;
  right: -10px;
  top: -80px;
}
.sell-hero .coin{
  position: absolute;
  left: 0px;
  top: -20px;
}
@media (max-width: 1200px){
  .sell-hero .amount{
    right: 0px;
    top: -100px;
    width: 300px;
  }
  .sell-hero .amount .row{
    height: 120px;
  }
  .sell-hero .coin{
    left: 0px;
    top: -20px;
  }
}
@media (max-width: 992px){
  .mini-heading {
    font-size: 26px;
  }
  .box-section .box-align .box {
    margin: 5px 0px;
    padding-top: 45px;
  }
  
}

@media (max-width: 768px){
  p{
    font-size: 14px;
}
  .mini-heading {
    font-size: 22px;
  }
  .banner-section .breadcrumb .breadcrumb-item a {
    font-size: 12px;
  }
  .box-section .box-align .box p {
    font-size: 12px;
}
.blog p{
  color: #737373;
  font-size: 14px;
}
.sell-steps .main-para{
  font-size: 18px;
}
.sell-steps img{
  max-height: 123px;
  margin-bottom: 20px;
}
}
  @media (max-width: 576px){
    .sell-steps .main-para{
      font-size: 16px;
    }
    .sell-steps img{
      max-height: 103px;
      margin-bottom: 20px;
    }
  }