.circle-search{
  background-color: white;
  width: 90px;
  height: 90px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
}
.box-section .search-icon{
  font-size: 30px;
  color: #858585;
}
.box-section .box.active{
  box-shadow: 0px 10px 40px 0px #601FA161;
  border: 2px solid #601FA1
}
.game-card{
  border-radius: 26px 30px 26px 26px;
  overflow: hidden;
  position: relative;
  color: #5B5B5B;
  border: 1px solid #D2B5FF;
  box-shadow: 0px 10px 40px 0px #00000026;
  margin: 20px auto;
}

.game-card .game-offers{
  border: 1px solid #B6B6B6;
  color: #5B5B5B;
  padding: 4px 8px;
  background-color: white;
  
}
.game-card .game-bg{
  padding: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  max-width:100%;
  
}
.product-search .search-input{
  min-height: 43px;
  padding-right: 200px;

}
.product-search .search-panel{
  position: absolute;
  right: 0px;
  top: 0px;

}
.product-search .search-panel .btn {
  padding: 5px;
  min-width: 60px;
  padding-right: 15px;
  color: #858585;

}
.product-search .search-icon {
  position: absolute;
  right: 130px;
  font-size: 20px;
  top: 7%;
  z-index: 2;
}
.product-search .search-icon .fa{
  color: #858585;
}


@media (max-width: 1200px){
}
@media (max-width: 992px){
  .game-card{
    margin: 15px auto;
  }
}

@media (max-width: 768px){
}
  @media (max-width: 576px){
    .game-card{
      margin: 10px auto;
    }
  .game-card .card-body{
    padding: 5px;
    padding-left: 10px;
  }
  .game-card .mini-heading{
  font-size: 18px;
  }
  .product-search .search-input {
    padding-right: 150px;
}
   
    
  }